body {
    margin: * 0 *;

}

textarea {
    background: #AAA;
    width: 100%;
    height: 20em;
}

#statistics {
    margin: auto;
    background: #111;
    color: white;
    font: courier;
    background: #AAA;
}

td {
    align: right;
}